<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbxSwSY6ulRP1MzROT2L1abyw6Po31a-M</string>
	<key>GCM_SENDER_ID</key>
	<string>969085687068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alihodroj.SkillSprint</string>
	<key>PROJECT_ID</key>
	<string>skillsprint-app</string>
	<key>STORAGE_BUCKET</key>
	<string>skillsprint-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969085687068:ios:572ca5749281140ab0d6d9</string>
</dict>
</plist>